<div class="results-block">
  <%= render 'layouts/messages'%>
</div>
<%if @friends %>
  <div class="card card-header results-block">
    <% @friends.each do |friend| %>
      <strong>Email: </strong> <%= friend.email %>
      <hr>
      <strong>Name: </strong> <%= friend.full_name %>
      <hr>
      <%= link_to "Profile", "#", class: "btn btn-sm btn-success" %>
      <%= link_to 'Follow?' , '#', class: 'btn btn-sm btn-success', method: :post%>
      <hr>
    <% end %>
  </div>
<%end%>
