<div class="results-block">
  <%= render 'layouts/messages'%>
</div>
<%if @friends %>
  <div class="card card-header results-block">
    <% @friends.each do |friend| %>
      <strong>Email: </strong> <%= friend.email %>
      <hr>
      <strong>Name: </strong> <%= friend.full_name %>
      <hr>
      <td><strong>Actions: </strong> <%= link_to "View Profile", user_path(friend), class: "btn btn-sm btn-success" %>

      <% if current_user.not_friends_with?(friend.id) %>
        <%= link_to 'Follow?' , friendships_path(friend: friend), class: 'btn btn-sm btn-success', method: :post%>
      <% else %>
        <span class="badge badge-secondary">
          You are friends
        </span>
      <% end %>
      <hr>
    <% end %>
  </div>
<%end%>
